@import "https://fonts.googleapis.com/css?family=Lato:100";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: "Lato", Arial, Sans-serif;
}

section{
    width: 100%;
    height: 100vh;
    color: antiquewhite;
    background: linear-gradient(-45deg, #296126, #638137, #10471b, #216721);
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}

h1{
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 3px solid #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem 5rem;
}
h2{
    position: absolute;
    top: 85%;
    left: 19%;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h4{
    position: absolute;
    top: 2%;
    left: 0%;
    text-align: center;
    font-size: 18px;
}
h5{
    position: absolute;
    top: 60%;
    left: 22%;
    font-size: 18px;
    text-align: center;
}
h3{
    font-size: 20px;
    letter-spacing: 2px;
    border: 3px solid #fff;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5rem 10rem;
}
h3,img{
    border-radius: 100%;
    border-color: #2d232302;
}

@keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}


.footer{
    padding-bottom: 0.5rem;
}
.footer .credit{
    text-align: center;
    padding: 1.0rem;
    border-top: darkslategray;
    font-size: 13px;
    color: #ffffff;
    text-transform: capitalize;
    background: linear-gradient(-90deg, #063d22e3, #3f5316, #304034e3, #15390dfe);
}
.footer .credit span{
    color: #d1f143;
}
